/* Main Menu Styling */
.main-menu {
  display: flex;
}
.main-menu li {
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
  transition-duration: 1.0s;

}
.main-menu-labels {
  margin: 0;
  padding: 15px 0;
  background-color: #08254f;
  color: #fff;
  font-size: 18px;
}
/* Sub Menu Styling */
.sub-menu {
  padding-left: 0;
  background-color: #dde1e7;

}
.sub-menu li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition-duration: 1.0s;
}
.main-menu li:hover {
  cursor: pointer;
}
.sub-menu li {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  left:0;
  display: none;
}

.main-menu li:hover > .sub-menu li,
.main-menu li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
